.languages-container {
  background-color: orange;
  width: 50%;
  margin: auto;

  h1 {
    text-align: center;
    color: #fff;
  }

  .language-cards {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 45% 45%;
    grid-template-rows: repeat(10rem, 4);

    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      width: 100%;
      background-color: #abced5;
      margin: 1rem;

      img {
        width: 50%;
      }
    }
  }
}
